*/*
node_modules/
.DS_Store
dist/
build/
.docusaurus/
.env.local
.env.development.local
.env.production.local
.env.test.local
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
webstorm.sln
*.tsbuildinfo
next-env.d.ts
.nyc_output
!.gitkeep
node_modules/
dist/
public/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.yalc/
yalc.lock
*.log
.env
.env.*
!.env.example
!.env.production
!.env.local
.git
.vscode
.cache/
.output/
.next/
out/
.nuxt/
# Ignore all .dotfiles in root of project
.*
# But don't ignore these specific dotfiles
!/.babelrc
!/.clang-format
!/.editorconfig
!/.gitattributes
!/.gitignore
!/.stylelintignore
!/.vscode
!/.github
!/.gitlab
!/.gitmodules
!/.gitreview
!/.gitkeep
!/.gitlab-ci.yml
!/.travis.yml
!/.prettierignore
!/.prettierrc
!/.prettierignore
!/.eslintrc
!/.eslintignore
!/.browserslistrc
!/.jestrc
!/.flowconfig
!/.nycrc
!/.nodemonrc
!/.jsbeautifyrc
!/.jshintignore
!/.jshintrc
!/.watchmanconfig
!/.tern-project
!/.swcrc
!/.ncurc
!/.node-version
!/.nvmrc
!/.mailmap
!/.markdownlint.json
!/.lintstagedrc
!/.huskyrc
!/.graphqlconfig
!/.gitpod.yml
!/.github
!/.codeclimate.yml
!/.babelrc.js
!/.babelrc.json
!/.babelrc.cjs
!/.babelrc.mjs
!/.bazelrc
!/.buckconfig
!/.codecov.yml
!/.c8rc
!/.c8rc.json
!/.circleci
!/.clippy.toml
!/.compodocrc
!/.compodocrc.json
!/.coveralls.yml
!/.cspell.json
!/.csscomb.json
!/.csslintrc
!/.drone.yml
!/.d.ts
!/.dustlintrc
!/.editorconfig
!/.esformatter
!/.eslintcache
!/.eslintrc.js
!/.eslintrc.yaml
!/.eslintrc.yml
!/.eslintrc.json
!/.firebaserc
!/.flooignore
!/.flowconfig
!/.fold
!/.funcignore
!/.getignore
!/.gitattributes
!/.gitconfig
!/.github
!/.gitignore
!/.gitlab
!/.gitmodules
!/.gitreview
!/.golangci.yml
!/.graphqlconfig
!/.groovylintrc
!/.grunt
!/.hadolint.yaml
!/.hound.yml
!/.htmlhintrc
!/.hygen.js
!/.istanbul.yml
!/.jestrc
!/.jestrc.js
!/.jscs.json
!/.jscsrc
!/.jshintignore
!/.jshintrc
!/.jsdoc.json
!/.jsdocrc
!/.json
!/.jspec
!/.jsprettier
!/.jss-cache
!/.kitchen.cloud.yml
!/.kitchen.docker.yml
!/.kitchen.kubelet.yml
!/.kitchen.local.yml
!/.kitchen.yml
!/.lgtm.yml
!/.lint-stagedrc.json
!/.lintstagedrc
!/.lintstagedrc.json
!/.lighthouserc.js
!/.lighthouserc.json
!/.lighthouserc.yaml
!/.lighthouserc.yml
!/.line-ending-correctorrc
!/.markdown-link-check.json
!/.markdownlint.json
!/.markdownlintignore
!/.mime.types
!/.minirc
!/.mjmlconfig
!/.mtn-ignore
!/.node-version
!/.nodemonignore
!/.nodule_ignore
!/.npm
!/.npmignore
!/.npmrc
!/.npsrc
!/.nspignore
!/.nsprc
!/.nycrc
!/.nyc-output
!/.openapi-generator-ignore
!/.optimize-css-assets-webpack-plugin-options.json
!/.php_cs
!/.php_cs.dist
!/.postcssrc
!/.postcssrc.js
!/.postcssrc.json
!/.pre-commit-config.yaml
!/.prettierignore
!/.prettierrc
!/.prettierrc.json
!/.prettierrc.js
!/.prettierrc.yaml
!/.prettierrc.yml
!/.pug-lintrc
!/.pylintrc
!/.releaserc
!/.releaserc.json
!/.releaserc.yaml
!/.releaserc.yml
!/.remarkrc
!/.remap
!/.renovate.json
!/.retextrc
!/.rulerignore
!/.s2iignore
!/.sass-lint.yml
!/.scss-lint.yml
!/.semantic-release.json
!/.sequelizerc
!/.shellcheckrc
!/.solhint.json
!/.sonarcloud.properties
!/.storybook
!/.styleci.yml
!/.stylelintignore
!/.stylelintrc
!/.stylelintrc.json
!/.stylelintrc.yaml
!/.stylelintrc.yml
!/.svn
!/.swcrc
!/.textlintrc
!/.textlintrc.json
!/.travis.yml
!/.tsconfig.json
!/.tsfmt.json
!/.tslint.json
!/.unibeautifyrc
!/.uncrustify.cfg
!/.unimportedrc.json
!/.vagrant
!/.vs
!/.vscode
!/.vuepress
!/.wakatime-project
!/.watchmanconfig
!/.xo-config.json
!/.yamllint
!/.yardopts
!/.yo-rc.json
!/.yarn-integrity
!/.yarn-metadata.json
!/.yarnrc
!/.yo-resolve
!/.zuulrc